<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/nll-logo-horizontal.png" alt="NLL logo" class="db w4 center mb4 br0">

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">NLL</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Join us</h3>
				<ul class="mb3">
					<li><a href="{{ .Site.Data.discord.joinUrl }}" class="link">Discord</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Contribute</h3>
				<ul class="mb3">
					<li><a href="/admin" class="link">Contribute content</a></li>
					<li><a href="https://github.com/nllcommunity" class="link">GitHub</a></li>
          <li><a href="https://gitlab.com/NorwegianLanguageLearning" class="link">GitLab</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

